<footer>
  <div>

    <div class="contenido-tab">
      <!-- Iniciar Sesion -->
      <div id="iniciar-sesion">
        <h1>Iniciar Sesión</h1>
        <form action="#" method="post">
          <div class="contenedor-input">
            <label>
              Usuario
              <span class="req">:</span>
            </label>
            <input type="text" required>
          </div>

          <div class="contenedor-input">
            <label>
              Contraseña
              <span class="req">:</span>
            </label>
            <input type="password" required>
          </div>
          <p class="forgot">
            <a href="#" id="olvido">Se te olvidó la contraseña?</a>
          </p>
          <input type="submit" class="button button-block" value="Iniciar Sesión">
        </form>
        <p>OdontoMóvil, Copyright© 2018</p>
        <a href="https://www.facebook.com/odontomovilcr/">
          <img src="../../assets/img/facebook.png">
        </a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
          <img src="../../assets/img/instagram.png">
        </a>
      </div>
    </div>
  </div>

</footer>
