<div class="top" style="text-align: center; display: flex; justify-content: center; align-items: center;">

    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top">
                <img src="../../assets/img/user.png">
                <div class="text">
                        <strong>LLÁMENOS AL </strong><br>+506 8715-2228<br>
                <span>San Carlos, Costa Rica</span>
                </div>
            </div>
                <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top"><img src="../../assets/img/conversation.png"></div>
                <div class="text"><strong>+506 8715-2232</strong><br><span>(Llama Ya!)</span></div>
                    <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top"><img src="../../assets/img/gmail.png"></div>
        <div class="text"><strong>Escríbanos a</strong><span> info@OdontoMóvil.com</span></div>
            <a href="mailto:info@odontomovil.com" class="link"></a>
    </div>
  </div>
  </div>

  <aside id="centro">
          <div class="light" style="width: 100%; display: flex; ">
                  <h1><strong>Giras</strong></h1>
          </div>
  </aside>

  <div class="contenedor">
      <div class="giras">
          <div class="main-col"> 
          <p class="p1" style="text-align: center;"><br class="s1"><br> 
              Recorremos el país realizando ferias de salud empresariales y visitas a comunidades rurales
              lejanas que no tienen fácil acceso a la salud bucodental.
          </p>      
        </div>
      </div>
  </div>


  <div class="contenedor">             
      <div class="actuales">
          <h4>Nuestra agenda:</h4>
          <table class="table">
              <thead class="thead-light">
              <tr>
                  <th>Lugar</th>
                  <th>Inicio</th>
                  <th>Fin</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>Ciudad Quesada</td>
                  <td>15/06/2018</td>
                  <td>26/06/2018</td>
              </tr>
              <tr>
                  <td>SkyAdventures Fortuna</td>
                  <td>27/06/2018</td>
                  <td>28/06/2018</td>
              </tr>
              <tr>
                  <td>Barva de Heredia</td>
                  <td>29/06/2018</td>
                  <td>29/06/2018</td>
              </tr>
              <tr>
                  <td>San Pedro de Montes de Oca</td>
                  <td>01/07/2018</td>
                  <td>03/07/2018</td>
              </tr>
              <tr>
                  <td>Ciudad Quesada</td>
                  <td>04/07/2018</td>
                  <td>09/07/2018</td>
              </tr>
              <tr>
                  <td>SkyAdventures Monteverde</td>
                  <td>10/07/2018</td>
                  <td>11/07/2018</td>
              </tr>
              <tr>
                  <td>Guanacaste</td>
                  <td>12/07/2018</td>
                  <td>19/07/2018</td>
              </tr>
              <tr>
                  <td>Valle Central</td>
                  <td>20/07/2018</td>
                  <td>22/07/2018</td>
              </tr>
              <tr>
                  <td>Cahuita</td>
                  <td>23/07/2018</td>
                  <td>29/07/2018</td>
              </tr>
              <tr>
                  <td>Valle Central</td>
                  <td>30/07/2018</td>
                  <td>05/08/2018</td>
              </tr>
              <tr>
                  <td>Ciudad Quesada</td>
                  <td>06/08/2018</td>
                  <td>15/08/2018</td>
              </tr>
              <tr>
                  <td>SkyAdventures Fortuna</td>
                  <td>16/08/2018</td>
                  <td>18/08/2018</td>
              </tr>
              <tr>
                <td>SkyAdventures Monteverde</td>
                <td>19/08/2018</td>
                <td>22/08/2018</td>
            </tr>
            <tr>
                <td>Cahuita</td>
                <td>23/08/2018</td>
                <td>31/08/2018</td>
            </tr>
              </tbody>
          </table>
      </div>
  </div>

  <footer>
    <div>
        <a href="https://www.facebook.com/odontomovilcr/">
        <img src="../../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
        <img src="../../assets/img/instagram.png"></a>
        
        <p>OdontoMóvil, Copyright© 2018</p>
    </div>

</footer>
  <script src="js/bootstrap.min.js"></script>