<div class="top" style="text-align: center; display: flex; justify-content: center; align-items: center;">

    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top">
                <img src="../../assets/img/user.png">
                <div class="text">
                        <strong>LLÁMENOS AL </strong><br>+506 8715-2228<br>
                <span>San Carlos, Costa Rica</span>
                </div>
            </div>
                <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top"><img src="../../assets/img/conversation.png"></div>
                <div class="text"><strong>+506 8715-2232</strong><br><span>(Llama Ya!)</span></div>
                    <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top"><img src="../../assets/img/gmail.png"></div>
        <div class="text"><strong>Escríbanos a</strong><span> info@OdontoMóvil.com</span></div>
            <a href="mailto:info@odontomovil.com" class="link"></a>
    </div>
  </div>
  </div>

    <aside id="centro">
            <div class="light" style="width: 100%; display: flex; ">
                    <h1><strong>Tratamientos</strong></h1>
            </div>
    </aside>

    <div id="contenedor">
    <div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/valoraciondental.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Valoracion Dental</h4>
    </div>
</div>  
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/blanqueamiento4.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Blanqueamiento Dental</h4>
    </div>
</div>        
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/limpieza.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Limpieza Dental</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/caso3.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Carillas</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/extra4.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Extracciones</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/cordales.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Cirugia de Cordales</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/puentedental.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Puentes</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/coronas.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Coronas</h4>
    </div>
</div>
<div class="card" style="width:350px">
    <img class="card-img-top" src="../../assets/img/protesis.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Protesis</h4>
    </div>
</div>
</div>
<footer>
    <div>
        <a href="https://www.facebook.com/odontomovilcr/">
        <img src="../../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
        <img src="../../assets/img/instagram.png"></a>
        
        <p>OdontoMóvil, Copyright© 2018</p>
    </div>

</footer>