<div class="top" style="text-align: center; display: flex; justify-content: center; align-items: center;">

    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top">
                <img src="../../assets/img/user.png">
                <div class="text">
                        <strong>LLÁMENOS AL </strong><br>+506 8715-2228<br>
                <span>San Carlos, Costa Rica</span>
                </div>
            </div>
                <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top"><img src="../../assets/img/conversation.png"></div>
                <div class="text"><strong>+506 8715-2232</strong><br><span>(Llama Ya!)</span></div>
                    <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top"><img src="../../assets/img/gmail.png"></div>
        <div class="text"><strong>Escríbanos a</strong><span> info@OdontoMóvil.com</span></div>
            <a href="mailto:info@odontomovil.com" class="link"></a>
    </div>
  </div>
  </div>

  <aside id="centro">
    <div class="light" style="width: 100%; display: center; ">
        <h1><strong>Preguntas Frecuentes</strong></h1>
    </div>
 





  <div class="padre" style="display: flex;" >
    <div class="card" style="width:650px; margin: 2%;" >
        <img class="card-img-top" src="../../assets/img/revisionDental1.jpg" alt="Card image" style="width:100%" >
        <div class="card-body">
            <h4 class="card-title">¿Es importante la éstetica dental?</h4>
            
                <p>Se dice que la sonrisa es el idioma universal sin importar la edad, origen, idioma o sexo;
                sonreímos en cualquier parte del mundo, va a significar
                    exactamente lo mismo.
                <p>    La sonrisa es un gesto natural con el que reflejamos alegría, que estamos bien y que nos sentimos cómodos.
                    Por este motivo, la odontología estética tiene el gran reto de rediseñar las piezas dentales,
                    con el fin de que cada paciente se sienta con la confianza de mostrar su sonrisa.</p>
                    <p> <strong>Laksmir Schärz Murray</strong> 
        </div>
    </div>
</div>
<div class="padre" style="display: flex;" >
    <div class="card" style="width:650px; margin: 2%;" >
        <img class="card-img-top" src="../../assets/img/revisonDental2.jpg" alt="Card image" style="width:100%" >
        <div class="card-body">
            <h4 class="card-title">¿Es importante las revisiones dentales?</h4>
        
            <p>La boca y los dientes, como ya sabes, hay que cuidarlos. Tener una boca sana y 
            limpia es esencial para tener una vida plena.

            <p> Además, hacernos revisiones dentales FRECUENTES nos proporcionará multitud de beneficios
            
            <p> Normalmente se recomienda hacer una revisión cada seis meses/un año. Pero, recuerde
            siempre depende del paciente, de las molestias, de los imprevistos y de las peculiaridades
            de cada paciente.
            
            <p> OdontoMóvil te puede dar una visita para hacerte una buena revisión.
            Una vez acabada la revisión, determinaremos cuánto tiempo debe transcurrir hasta la próxima visita.
            En esa primera visita conoceremos el estado de tus dientes y también el estado del resto de tejidos
            bucales, como por ejemplo las encías.</p>
                <p> <strong>Dra. Laksmir Schärz Murray</strong>
        </div>
    </div>
</div>


<div class="padre" style="display: flex;" >
    <div class="card" style="width:650px; margin: 2%;" >
        <img class="card-img-top" src="../../assets/img/caries.jpg" alt="Card image" style="width:100%" >
        <div class="card-body">
            <h4 class="card-title">¿Caries Dentales?</h4>
        
            <p>La caries dental se asocia a factores como técnica de cepillado deficiente, por no utilizar hilo dental,
            por una dieta alta en azúcares, o por poca producción de saliva entre otros.

            <p> Es importante realizar una valoración y limpieza dental de consultorio cada seis meses.
            Debido a que la caries dental puede ser detectada por el odontólogo en sus fases iniciales,
            permitiendo que el proceso sea revertido o frenado mediante aplicaciones de flúor.
            
            <p> Es importante detectar la caries dental antes de que aparezca el dolor,
            ya que cuando esto sucede es porque ya podría implicar un daño en el nervio
            y en este caso se deben llevar a cabo procedimientos más complejos 
            como la endodoncia (tratamiento de nervio).
            
            <p> Llámenos, recuerde que son fundamentales
            las visitas periódicas al odontólogo para tener una sonrisa sana y una óptima salud bucodental!.</p>
                <p><strong> Dr. Francisco Valerín Alfaro</strong>
        </div>
    </div>
</div>

</aside>
            
<footer>
    <div>
        <a href="https://www.facebook.com/odontomovilcr/">
        <img src="../../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
        <img src="../../assets/img/instagram.png"></a>
        <p>OdontoMóvil, Copyright© 2018</p>
    </div>
</footer>