<div class="top" style="text-align: center; display: flex; justify-content: center; align-items: center;">

    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top">
                <img src="../../assets/img/user.png">
                <div class="text">
                        <strong>LLÁMENOS AL </strong><br>+506 8715-2228<br>
                <span>San Carlos, Costa Rica</span>
                </div>
            </div>
                <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="top"><img src="../../assets/img/conversation.png"></div>
                <div class="text"><strong>+506 8715-2232</strong><br><span>(Llama Ya!)</span></div>
                    <a href="tel:+506 8715-2228" class="link"></a>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top"><img src="../../assets/img/gmail.png"></div>
        <div class="text"><strong>Escríbanos a</strong><span> info@OdontoMóvil.com</span></div>
            <a href="mailto:info@odontomovil.com" class="link"></a>
    </div>
  </div>
  </div>


<aside id="centro">
  <div class="light" style="width: 100%; display: flex; ">
          <h1><strong>Convenios</strong></h1>
  </div>
</aside>



<h1 _ngcontent-c2="" class="p1"><strong _ngcontent-c2="">Programa de Convenios Empresariales, quiere ser un aliado que agregue un valor especial
        a su empresa el cual tiene como objetivo llevar a los miembros de su empresa precios especiales y beneficios.</strong></h1>


<div class="content-header">
<h3></h3>
<p><q></q></p>
</div>

<section>
<h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2=""> Entre los principales beneficios del Programa: </strong></h2>

<div class="actuales2">
<li _ngcontent-c2="" class="p1" style="text-align: justify;"><span _ngcontent-c2="" class="s1">Descuentos en nuestros servicios que van desde 5% hasta un 50%.<br _ngcontent-c2=""></span></li>
<li _ngcontent-c2="" class="p1" style="text-align: justify;"><span _ngcontent-c2="" class="s1">Descuentos para familiares de colaboradores o asociados.<br _ngcontent-c2=""></span></li>
<li _ngcontent-c2="" class="p1" style="text-align: justify;"><span _ngcontent-c2="" class="s1">Ferias en su empresa<br _ngcontent-c2=""></span></li>
<li _ngcontent-c2="" class="p1" style="text-align: justify;"><span _ngcontent-c2="" class="s1">Charlas de salud preventiva.<br _ngcontent-c2=""></span></li>
<li _ngcontent-c2="" class="p1" style="text-align: justify;"><span _ngcontent-c2="" class="s1">Atención personalizada para consultas y tramite de citas.<br _ngcontent-c2=""></span></li>

</div>
</section>

<div class="contenedor">             
<div class="actuales">
<h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2=""> Actualmente tenemos convenios con: </strong></h2>

<div class="flex">
<div class="arriba">
  <div class="card" style="width:300px">
      <img class="card-img-top" src="../../assets/img/hospitalcooperativo.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
          <h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2="">Hospital Cooperativo</strong></h2>
      </div>
  </div>  
  <div class="card" style="width:300px">
      <img class="card-img-top" src="../../assets/img/ferreteriarr.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
      <h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2="">Ferretería Rojas y Rodríguez</strong></h2>
          
      </div>
  </div>        
  <div class="card" style="width:300px">
      <img class="card-img-top" src="../../assets/img/skyadventures.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
      <h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2="">SkyAdventures</strong></h2>
      </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="../../assets/img/usj.png" alt="Card image" style="width:100%">
    <div class="card-body">
    <h2 _ngcontent-c2="" class="p1"><strong _ngcontent-c2=""> Universidad de San Jose </strong></h2>
    </div>
</div>
         
</div>
</div>  
</div>
</div>

<div class="conversemos">
<main id="main" class="main" role="main">
<section class="intro">
<div class="actuales">
  <div class="row">               
      <p>Fácil y en su empresa, asi le daremos el mejor servicio odontológico.<br />Conversemos
      <a href="mailto:dra.scharz@gmail.com">dra.scharz@gmail.com</a> / 87152232 o 87152228</p>
  </div>
</div>
</section>
</main>
</div>

<footer>
    <div>
        <a href="https://www.facebook.com/odontomovilcr/">
        <img src="../../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
        <img src="../../assets/img/instagram.png"></a>
        
        <p>OdontoMóvil, Copyright© 2018</p>
    </div>

</footer>