


<div class="top" style="text-align: center; display: flex; justify-content: center; align-items: center;">

  <div class="row" >
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="top">
              <img src="../../assets/img/user.png">
              <div class="text">
                      <strong>LLÁMENOS AL </strong><br>+506 8715-2228<br>
              <span>San Carlos, Costa Rica</span>
              </div>
          </div>
              <a href="tel:+506 8715-2228" class="link"></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="top"><img src="../../assets/img/conversation.png"></div>
              <div class="text"><strong>+506 8715-2232</strong><br><span>(Llama Ya!)</span></div>
                  <a href="tel:+506 8715-2228" class="link"></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="top"><img src="../../assets/img/gmail.png"></div>
      <div class="text"><strong>Escríbanos a</strong><span> info@OdontoMóvil.com</span></div>
          <a href="mailto:info@odontomovil.com" class="link"></a>
  </div>
</div>
</div>
<div>

</div>


<section class="form_wrap">
    <section class="contact_info">
        <section class="info_title">
            <span class="fa fa-user-circle"></span>
                <h2> INFORMACION<br> DE CONTACTO</h2>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span>Info@OdontoMóvil.com</p>
                <p><span class="fa fa-mobile"></span>+506 8715 2238</p>
            </section>
        </section>
    </section> 
    <form action="" class="form_contact">
        <h2>Envía un mensaje</h2>
        <div class="user_info">
            <label for="names">Nombre *</label>
            <input type="text" id="names">
            <label for="phone">Teléfono  *</label>
            <input type="text" id="phone">
            <label for="email">Correo Electrónico *</label>
            <input type="text" id="email">
            <label for="mensaje">Mensaje *</label>
            <textarea  id="mensaje" ></textarea>
            <input type="button" value="Enviar Mensaje" id="btnSend">
        </div>
    </form>
</section>


<footer>
    <div>
        <a href="https://www.facebook.com/odontomovilcr/">
        <img src="../../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/odontomovilcr/?hl=es-la">
        <img src="../../assets/img/instagram.png"></a>
        
        <p>OdontoMóvil, Copyright© 2018</p>
    </div>

</footer>